:root {
  --primary-color: #434455;
  --secondary-color: #2e2f42;
  --white-color: #ffffff;
  --second-logo-color: #4d5ae5;
  --first-logo-color: #2e2f42;
  --first-footer-logo-color: #4d5ae5;
  --second-footer-logo-color: #f4f4fd;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --gray-background-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --active-accent-color: #ffffff;
  --accent-background-color: #f4f4fd;
  --active-accent-background-color: #404bbf;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
/* Header */

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--second-logo-color);
}

.link-studio {
  color: var(--first-logo-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--active-accent-background-color);
}

.address {
  font-style: normal;
}

.address-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  font-style: normal;
  text-decoration: none;
  color: var(--primary-color);
  letter-spacing: 0.02em;
}

.address-link:hover,
.address-link:focus {
  color: var(--active-accent-background-color);
}

/* Hero */

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--active-accent-background-color);
}

/* Our preference */

.hidden-tittle {
  display: none;
}

.pref-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.pref-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* About us */

.about {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.about-list {
  list-style-type: none;
}

/* Our team */

.our-team {
  background-color: var(--gray-background-color);
  text-align: center;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color);
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.team-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.team-card {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* Footer */

.footer {
  background-color: var(--secondary-background-color);
}

.footer .link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--first-footer-logo-color);
}

.footer .link-web {
  color: var(--second-footer-logo-color);
}

.footer .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-footer-logo-color);
}

/* Portfolio */

/* Filter */

.filter-title {
  display: none;
}

.filter-list {
  list-style-type: none;
}

.filter-list .button {
  background-color: var(--accent-background-color);
  color: var(--accent-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filter-list .button:hover,
.filter-list .button:focus {
  background-color: var(--active-accent-background-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

/* Portfolio List */

.portfolio-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}
